@font-face {
	font-family: "NerdFont";
	src: url("fonts/JetBrainsMonoNerdFont-Medium.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "NerdFont";
	src: url("fonts/JetBrainsMonoNerdFont-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "NerdFont";
	src: url("fonts/JetBrainsMonoNerdFont-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "NerdFont";
	src: url("fonts/JetBrainsMonoNerdFont-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}

.header {
	background-color: #504945;
	color: #ebdbb2;
}

mark {
	background-color: #39443a;
	color: #afe29c;
}

.banner {
	background-color: #3c3836;
	border-bottom: 8px solid #332f2d;
}

/*  PRISM-JS STYLES */
pre[class*="language-"], code[class*="language-"] {
    background: transparent !important;
    padding: 0 !important;
    margin: 0 !important;
}
pre {
    margin: 0;
}
code[class*="language-"] * {
    background: transparent !important;
}
/* END */

/* TEXT SELECTION COLOR */
::-moz-selection {
  color: #afe29c;
  background: #39443a;
}
::selection {
  color: #afe29c;
  background: #39443a;
}
/* END */

body {
	padding-left: 10px;
	padding-right: 10px;
	font-family: 'NerdFont', monospace;
	font-weight: bold;
	font-style: normal;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: #1d2021;
	color: #ebdbb2;
}

button {
	padding: 10px 20px;
	font-size: 20px;
	border: none;
	cursor: pointer;
	margin: 10px 10px 10px 10px;
	border-radius: 5px;
	font-family: 'NerdFont', monospace;
	font-weight: bold;
	font-style: normal;
	min-width: 120px;
	transition: transform 0.1s ease-in-out;
	background-color: #689d6a;
	color: #282828;
	border-bottom: 8px solid #518554;
}

button:hover {
	background-color: #8ec07c;
	border-bottom: 8px solid #76a765;
}

.banner-buttons-right {
	position: fixed;
	top: 0.5%;
	left: 0.5%;
	width: 99%;
	z-index: 9999;
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-end;
}

.banner-buttons-left {
	position: fixed;
	top: 0.5%;
	left: 0.5%;
	width: 99%;
	z-index: 9999;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

p {
	font-size: 20px;
	padding-left: 16px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
	font-family: 'NerdFont', monospace;
	background-color: #323232;
	border-bottom: 8px solid #292929;
}

a.link {
	text-decoration: none;
	color: inherit;
}

.header {
	padding-left: 16px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	border-radius: 5px 5px 0px 0px;
	font-family: 'NerdFont', monospace;
	margin-bottom: 0px;
}

.header-label {
	padding-left: 16px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
	font-family: 'NerdFont', monospace;
	margin-bottom: 0px;
	max-width: 100%;
	background-color: #39443a;
	color: #afe29c;
	border-bottom: 8px solid #2e362e;
}

.header, p.about {
	max-width: 100%;
}

div.s {
	font-size: 20px;
	padding-left: 16px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
	margin-bottom: 20px;
	font-family: 'NerdFont', monospace;
	background-color: #323232;
	border-bottom: 8px solid #292929;
}

div.p {
	font-size: 20px;
	padding-left: 16px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin-top: 0px;
	max-width: 100%;
	margin-bottom: 20px;
	border-radius: 0px 0px 5px 5px;
	font-family: 'NerdFont', monospace;
	background-color: #323232;
	border-bottom: 8px solid #292929;
}

p.about{
	margin-top: 0px;
	border-radius: 0px 0px 5px 5px;
}

mark {
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
}

.hide_me {
	display: none;
	visibility: hidden;
}

img.thumbnail {
	border-radius: 5px;
}

.banner {
	margin-left: -18px;
	margin-right: -18px;
	margin-top: -8px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}

@media all and (max-width: 500px) {
	button {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}
